{% load custom_tags %}

<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'blog:index' %}">Django Blog</a>


    <ul class="navbar-nav mr-auto">
{#        {% navbar_item_tag current_view_name=request.resolver_match.view_name view_name='blog:index' text='Home' %}#}
        {% navbar_item_tag current_view_name=request.resolver_match.view_name view_name='blog:feed' text='Feed' %}
        {% navbar_item_tag current_view_name=request.resolver_match.view_name view_name='blog:me' text='My Profile' %}
    </ul>

    {% if request.user.is_authenticated %}
        <div class="nav-item"><a class="nav-link" href="{% url 'blog:me' %}">{{ request.user.username }}</a></div>
        <a href="{% url 'users:logout' %}?next={{ request.path }}" ><button class="btn btn-outline-danger" type="submit">Log out</button></a>
    {% else %}
        <a class="mr-2" href="{% url 'users:signup' %}?next={{ request.path }}"><button class="btn btn-outline-success">Sign Up</button></a>
        <a href="{% url 'users:login' %}?next={{ request.path }}"><button class="btn btn-outline-info">Sign In</button></a>
    {% endif %}
</nav>