html, body {
    height: 100%;

      display: flex;
    flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

.container-main {
    margin: 0 auto;
    width: 70%;

    flex-grow: 1;
}

.profile-container {
    border: 2px solid #ced4da;
    border-radius: 6px;
}

h3, h2, h1 {
    text-align: center;
}