<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
{% if request.user.is_authenticated %}
    Profile page of {{ request.user.username }}
{% else %}
    <ul>
        <li>You're not authorized</li>
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li><a href="{% url 'users:signup' %}">Sign Up</a></li>
    </ul>

{% endif %}
</body>
</html>